<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.29.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Dash0AuthToken</key>
	<string>$(DASH0_AUTH_TOKEN)</string>
	<key>GitCommitSHA</key>
	<string>$(GIT_COMMIT_SHA)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Mads Thines. All rights reserved.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Mainline uses notifications to alert you about GitHub pull request updates.</string>
	<key>OTelExporterEndpoint</key>
	<string>$(OTEL_EXPORTER_OTLP_ENDPOINT)</string>
</dict>
</plist>
